<h2 class="text-white ">Chat</h2>

<div class="container ">
    <div class="row">
        <div class="col m-4">
            <div class="input-group">
                <span class="input-group-text">E-Mail</span>
                <input type="text" id="email" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm">
            </div>
               <p class="text-danger" id="empty"></p>
            <div class="input-group mb-3">
                <span class="input-group-text">Mensaje</span>
                <textarea class="form-control" aria-label="With textarea" id="messageContent"></textarea>
            </div>
            <p class="text-danger" id="emptyMessage"></p>
            <button class="btn btn-success mt-3 mb-5" onclick="sendMessage()">Enviar</button>
        </div>
        <div class="col m-4" id="messages">
          
        </div>
    </div>

</div>