
   <div class="m-2 p-4">
    <h3 class="text-success">Agregar un nuevo producto</h3>
    <br>
    <form action="/api/productos" method="POST">
        <div class="form-group">
            <label for="title"><b>Producto</b></label>
            <input id="title" class="form-control" type="text" name="title">
        </div>
        <div class="form-group">
            <label for="price"><b>Precio</b></label>
            <input id="price" class="form-control" type="text" name="price">
        </div>
        <div class="form-group">
            <label for="thumbnail"><b>Url de la imagen</b></label>
            <input id="thumbnail" class="form-control" type="url" name="thumbnail">
        </div>
        <button class="btn btn-success mt-3 mb-5">Enviar</button>
       
    </form>
</div>
    

