{{#if PRODUCTS}}
<div class="p-4">
    <h2 class="p-2">Lista de Productos</h2>
    <table class="table table-info">
        <tr>
            <th scope="col"></th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
        </tr>
        {{#each PRODUCTS}}
        <tr>
            <td>
                <img src={{this.thumbnail}} width="60px" height="70px">
            </td>
            <td>
                {{this.title}}
            </td>
            <td>
                {{this.price}}
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{else}}
<h1> NO SE ENCONTRARON PRODUCTOS </h1>
{{/if}}