div(class="m-2 p-4")
    h1(class="text-success") Ingrese los datos del producto
    br
    form(action="/productos" method="post")
        div(class="form-group")
            label(for="title")
                b Producto
            input(id="title" class="form-control" type="text" name="title" )
        .form-group
            label(for='price')
                b Precio
            input#precio.form-control(type='number' name='price')
        .form-group
            label(for='thumbnail')
                b Imagen
            input#thumbnail.form-control(type='url' name='thumbnail')
        button(class="btn btn-success mt-3 mb-5") Enviar 
