<div class="container text-center">
   <div class="row">
      <div class="col m-4">
         {{> form}}
      </div>
      <div class="m-4" style="border-left:5px solid rgb(60, 142, 180);height:500px"></div>

      <div class="col m-4">
         {{> products}}
      </div>
   </div>
</div>
<div  class="container p-4 mb-4" style="background-color:rgba(198, 212, 215, 0.684) ">
   {{>chat}}
</div>